<p id="notice"><%= notice %></p>

<h1>Listing Weapon Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weapon_types.each do |weapon_type| %>
      <tr>
        <td><%= weapon_type.name %></td>
        <td><%= link_to 'Show', weapon_type %></td>
        <td><%= link_to 'Edit', edit_weapon_type_path(weapon_type) %></td>
        <td><%= link_to 'Destroy', weapon_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weapon type', new_weapon_type_path %>
