<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @thief_talent.level %>
</p>

<p>
  <strong>Lockpick:</strong>
  <%= @thief_talent.lockpick %>
</p>

<p>
  <strong>Find traps:</strong>
  <%= @thief_talent.find_traps %>
</p>

<p>
  <strong>Climb:</strong>
  <%= @thief_talent.climb %>
</p>

<p>
  <strong>Silent movement:</strong>
  <%= @thief_talent.silent_movement %>
</p>

<p>
  <strong>Stealth:</strong>
  <%= @thief_talent.stealth %>
</p>

<p>
  <strong>Pickpocket:</strong>
  <%= @thief_talent.pickpocket %>
</p>

<p>
  <strong>Hear noises:</strong>
  <%= @thief_talent.hear_noises %>
</p>

<p>
  <strong>Backstab:</strong>
  <%= @thief_talent.backstab %>
</p>

<%= link_to 'Edit', edit_thief_talent_path(@thief_talent) %> |
<%= link_to 'Back', thief_talents_path %>
