<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @perk.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @perk.description %>
</p>

<p>
  <strong>Perk type:</strong>
  <%= @perk.perk_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @perk.user %>
</p>

<%= link_to 'Edit', edit_perk_path(@perk) %> |
<%= link_to 'Back', perks_path %>
