<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character_race.name %>
</p>

<p>
  <strong>Min height:</strong>
  <%= @character_race.min_height %>
</p>

<p>
  <strong>Max height:</strong>
  <%= @character_race.max_height %>
</p>

<p>
  <strong>Min weight:</strong>
  <%= @character_race.min_weight %>
</p>

<p>
  <strong>Max weight:</strong>
  <%= @character_race.max_weight %>
</p>

<p>
  <strong>Maturity:</strong>
  <%= @character_race.maturity %>
</p>

<p>
  <strong>Max age:</strong>
  <%= @character_race.max_age %>
</p>

<p>
  <strong>Movement base:</strong>
  <%= @character_race.movement_base %>
</p>

<p>
  <strong>Armor class mod:</strong>
  <%= @character_race.armor_class_mod %>
</p>

<p>
  <strong>Str mod:</strong>
  <%= @character_race.str_mod %>
</p>

<p>
  <strong>Dex mod:</strong>
  <%= @character_race.dex_mod %>
</p>

<p>
  <strong>Cons mod:</strong>
  <%= @character_race.cons_mod %>
</p>

<p>
  <strong>Int mod:</strong>
  <%= @character_race.int_mod %>
</p>

<p>
  <strong>Wis mod:</strong>
  <%= @character_race.wis_mod %>
</p>

<p>
  <strong>Char mod:</strong>
  <%= @character_race.char_mod %>
</p>

<p>
  <strong>Alignment:</strong>
  <%= @character_race.alignment %>
</p>

<p>
  <strong>Dice:</strong>
  <%= @character_race.dice %>
</p>

<p>
  <strong>User:</strong>
  <%= @character_race.user %>
</p>

<%= link_to 'Edit', edit_character_race_path(@character_race) %> |
<%= link_to 'Back', character_races_path %>
