<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @character_race_thief_talent.id %>
</p>

<p>
  <strong>Lockpick mod:</strong>
  <%= @character_race_thief_talent.lockpick_mod %>
</p>

<p>
  <strong>Find traps mod:</strong>
  <%= @character_race_thief_talent.find_traps_mod %>
</p>

<p>
  <strong>Climb mod:</strong>
  <%= @character_race_thief_talent.climb_mod %>
</p>

<p>
  <strong>Silent movement mod:</strong>
  <%= @character_race_thief_talent.silent_movement_mod %>
</p>

<p>
  <strong>Stealth mod:</strong>
  <%= @character_race_thief_talent.stealth_mod %>
</p>

<p>
  <strong>Pickpocket mod:</strong>
  <%= @character_race_thief_talent.pickpocket_mod %>
</p>

<p>
  <strong>Hear noises mod:</strong>
  <%= @character_race_thief_talent.hear_noises_mod %>
</p>

<p>
  <strong>Backstab mod:</strong>
  <%= @character_race_thief_talent.backstab_mod %>
</p>

<p>
  <strong>Character race:</strong>
  <%= @character_race_thief_talent.character_race %>
</p>

<%= link_to 'Edit', edit_character_race_thief_talent_path(@character_race_thief_talent) %> |
<%= link_to 'Back', character_race_thief_talents_path %>
