<p id="notice"><%= notice %></p>

<h1>Listing Campain Members</h1>

<table>
  <thead>
    <tr>
      <th>Campain</th>
      <th>Character sheet</th>
      <th>Idactive</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campain_members.each do |campain_member| %>
      <tr>
        <td><%= campain_member.campain %></td>
        <td><%= campain_member.character_sheet %></td>
        <td><%= campain_member.idactive %></td>
        <td><%= link_to 'Show', campain_member %></td>
        <td><%= link_to 'Edit', edit_campain_member_path(campain_member) %></td>
        <td><%= link_to 'Destroy', campain_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campain member', new_campain_member_path %>
