<%= form_for(@wisdom_mod) do |f| %>
  <% if @wisdom_mod.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wisdom_mod.errors.count, "error") %> prohibited this wisdom_mod from being saved:</h2>

      <ul>
      <% @wisdom_mod.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label :protection_mod %><br>
    <%= f.number_field :protection_mod %>
  </div>
  <div class="field">
    <%= f.label :magic_cicle_1_mod %><br>
    <%= f.number_field :magic_cicle_1_mod %>
  </div>
  <div class="field">
    <%= f.label :magic_cicle_2_mod %><br>
    <%= f.number_field :magic_cicle_2_mod %>
  </div>
  <div class="field">
    <%= f.label :magic_cicle_3_mod %><br>
    <%= f.number_field :magic_cicle_3_mod %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
