<%= form_for(@character_race_skill) do |f| %>
  <% if @character_race_skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character_race_skill.errors.count, "error") %> prohibited this character_race_skill from being saved:</h2>

      <ul>
      <% @character_race_skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :character_race_id %><br>
    <%= f.text_field :character_race_id %>
  </div>
  <div class="field">
    <%= f.label :skill_id %><br>
    <%= f.text_field :skill_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
