<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @character_class_magic_circle.level %>
</p>

<p>
  <strong>Magic circle 1:</strong>
  <%= @character_class_magic_circle.magic_circle_1 %>
</p>

<p>
  <strong>Magic circle 2:</strong>
  <%= @character_class_magic_circle.magic_circle_2 %>
</p>

<p>
  <strong>Magic circle 3:</strong>
  <%= @character_class_magic_circle.magic_circle_3 %>
</p>

<p>
  <strong>Magic circle 4:</strong>
  <%= @character_class_magic_circle.magic_circle_4 %>
</p>

<p>
  <strong>Magic circle 5:</strong>
  <%= @character_class_magic_circle.magic_circle_5 %>
</p>

<p>
  <strong>Magic circle 6:</strong>
  <%= @character_class_magic_circle.magic_circle_6 %>
</p>

<p>
  <strong>Magic circle 7:</strong>
  <%= @character_class_magic_circle.magic_circle_7 %>
</p>

<p>
  <strong>Magic circle 8:</strong>
  <%= @character_class_magic_circle.magic_circle_8 %>
</p>

<p>
  <strong>Magic circle 9:</strong>
  <%= @character_class_magic_circle.magic_circle_9 %>
</p>

<p>
  <strong>Character class:</strong>
  <%= @character_class_magic_circle.character_class %>
</p>

<%= link_to 'Edit', edit_character_class_magic_circle_path(@character_class_magic_circle) %> |
<%= link_to 'Back', character_class_magic_circles_path %>
