<%= form_for(@origin) do |f| %>
  <% if @origin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@origin.errors.count, "error") %> prohibited this origin from being saved:</h2>

      <ul>
      <% @origin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :variation %><br>
    <%= f.text_field :variation %>
  </div>
  <div class="field">
    <%= f.label :bonus %><br>
    <%= f.number_field :bonus %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
