<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @origin.name %>
</p>

<p>
  <strong>Variation:</strong>
  <%= @origin.variation %>
</p>

<p>
  <strong>Bonus:</strong>
  <%= @origin.bonus %>
</p>

<%= link_to 'Edit', edit_origin_path(@origin) %> |
<%= link_to 'Back', origins_path %>
