<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @undead_bane.level %>
</p>

<p>
  <strong>Skelleton mod:</strong>
  <%= @undead_bane.skelleton_mod %>
</p>

<p>
  <strong>Zombie mod:</strong>
  <%= @undead_bane.zombie_mod %>
</p>

<p>
  <strong>Ghoul mod:</strong>
  <%= @undead_bane.ghoul_mod %>
</p>

<p>
  <strong>Inhuman mod:</strong>
  <%= @undead_bane.inhuman_mod %>
</p>

<p>
  <strong>Aparition mod:</strong>
  <%= @undead_bane.aparition_mod %>
</p>

<p>
  <strong>Mummy mod:</strong>
  <%= @undead_bane.mummy_mod %>
</p>

<p>
  <strong>Specter mod:</strong>
  <%= @undead_bane.specter_mod %>
</p>

<p>
  <strong>Vampire mod:</strong>
  <%= @undead_bane.vampire_mod %>
</p>

<%= link_to 'Edit', edit_undead_bane_path(@undead_bane) %> |
<%= link_to 'Back', undead_banes_path %>
