<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @intelligence_mod.value %>
</p>

<p>
  <strong>Languages mod:</strong>
  <%= @intelligence_mod.languages_mod %>
</p>

<p>
  <strong>Learn magic mod:</strong>
  <%= @intelligence_mod.learn_magic_mod %>
</p>

<p>
  <strong>Magic circle 1 mod:</strong>
  <%= @intelligence_mod.magic_circle_1_mod %>
</p>

<p>
  <strong>Magic circle 2 mod:</strong>
  <%= @intelligence_mod.magic_circle_2_mod %>
</p>

<p>
  <strong>Magic circle 3 mod:</strong>
  <%= @intelligence_mod.magic_circle_3_mod %>
</p>

<p>
  <strong>Magic circle 4 mod:</strong>
  <%= @intelligence_mod.magic_circle_4_mod %>
</p>

<p>
  <strong>Magic circle 5 mod:</strong>
  <%= @intelligence_mod.magic_circle_5_mod %>
</p>

<p>
  <strong>Magic circle 6 mod:</strong>
  <%= @intelligence_mod.magic_circle_6_mod %>
</p>

<p>
  <strong>Magic circle 7 mod:</strong>
  <%= @intelligence_mod.magic_circle_7_mod %>
</p>

<p>
  <strong>Magic circle 8 mod:</strong>
  <%= @intelligence_mod.magic_circle_8_mod %>
</p>

<p>
  <strong>Magic circle 9 mod:</strong>
  <%= @intelligence_mod.magic_circle_9_mod %>
</p>

<%= link_to 'Edit', edit_intelligence_mod_path(@intelligence_mod) %> |
<%= link_to 'Back', intelligence_mods_path %>
