<p id="notice"><%= notice %></p>

<h1>Listing Material Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @material_types.each do |material_type| %>
      <tr>
        <td><%= material_type.name %></td>
        <td><%= link_to 'Show', material_type %></td>
        <td><%= link_to 'Edit', edit_material_type_path(material_type) %></td>
        <td><%= link_to 'Destroy', material_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Material type', new_material_type_path %>
